<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>documentacion Api</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- 
archivos =daniel
datos  = victor
detalle = jonathan 
finca= daniel
formato =daniel
muestra = Miguel
municipio= luisa
servicios= juan
tipo_formato =juan
usuarios = jhontan
 -->
    <h1 class="principal">Documentación de la api</h1>
    <div class="container">
      <!-- requerimineto iniciar sesion Miguel -->
      <section>
        <h1 class="titulo">requerimiento iniciar sesion</h1>
        <div class="table-container">
        <table>
            <thead>
                <td>Nombre</td>
                <td>Descripcion</td>
            </thead>
            <tbody>
                <tr>
                    <td>Iniciar Sesion</td>
                    <td> 
                    <p>
                        	El sistema debe proporcionar un formulario de inicio de sesión en la interfaz de usuario.<br>
                        	Los usuarios deben poder ingresar su <br>
                        	°Numero de identificación <br>
                        	Los usuarios deben ingresar una contraseña válida para iniciar sesión <br>
                            El sistema debe verificar las credenciales ingresadas y permitir el acceso solo si son válidas. <br>
                        
                        	Si las credenciales no son inválidas, el sistema debe mostrar un mensaje de error usuario no autorizado <br>
                        	Los usuarios deben poder restablecer su contraseña si la olvidan.<br>
                        Mediante un código que se enviara al correo electrónico 
                    </p>
                    </td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>http://localhost:3000/login</td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td>Esta funcion permite la validar las credenciales del usuario en la base de datos </td>
                </tr>
                <tr>
                    <td>Verbo HTTP</td>
                    <td>POST</td>
                </tr>
                <tr>
                    <td>Header</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td>Administrador,encargados,invitado</td>
                </tr>
                <tr>
                    <td>Peticion Body</td>
                    <td>json: {
                        "numero_identificacion":"1006459235",
                        "contraseña_usuario":"miguel123"
                    }
                    </td>
                </tr>
                <tr>
                    <td>Respuesta Json</td>
                    <td>Correcto: status:200.json({
                        "nombre_usuario": "Miguel",
                        "rol_usuario": "administrador"
                    }) <br><br>
                        Incorrecto: status(404).json({ "menssage": "Usuario no autorizado" }) <br><br>
                        Error: status(500).json("Error en el servidor"+error.message)
                    </td>
                </tr>
            </tbody>
        </table>
         </div>

        <br>

 

  <br>
    <!-- r archivo Daniel -->
    <h1 class="titulo">requerimiento cargar y eliminar  documento</h1>
    <div class="table-container">
        <table>
            <thead>
                <td>Nombre</td>
                <td>Descripcion</td>
            </thead>
            <tbody>
                <tr>
                    <td>carga de documentos</td>
                    <td> 
                    <p>
                        	La función de carga de documentos estará ubicada en la parte superior derecha del módulo gestión documental del sistema.<br>
                             Al seleccionarla, se desplegará una ventana emergente con dos opciones: cargar un nuevo documento o actualizar uno existente.<br>
                        	Para cargar un nuevo documento, se deberá completar un formulario con los siguientes campos:<br>
                        •	Nombre del documento<br>
                        •	Versión del documento<br>
                        •	Fecha de carga<br>
                        •	Estado <br>
                        •	Formato (PDF, Excel, Word)<br>
                        •	Nombre y rol del usuario que realiza la acción<br>
                        •	nombre del usuario en caso de ser el encargado<br>
                        	Al seleccionar la opción de actualizar un documento, se mostrará un formulario donde se deberá ingresar el nombre y la versión del documento a actualizar.<br>
                             Posteriormente, se habilitará un botón de subir que permitirá reemplazar el documento.<br>
                    	    Una vez el documento este actualizado, el documento anterior cambiara de estado y pasara a inactivo <br>
                        	El botón de eliminación estará situado en la parte derecha de cada documento y estará disponible únicamente para el rol de administración.<br>
                        	 En caso de que la solicitud de carga sea realizada por el rol de encargado, será enviada a revisión al rol de administrador y será validado por los roles que encuentren en el momento,<br>
                              se requiere la aprobación de todos los administradores y solo se cargarán los documentos si cuentan con las aprobaciones.<br>
                        	El rol de invitado no tendría acceso a ninguna de estas acciones 
                        
                    </p>
                    </td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>http://localhost:3000/archivo/registrar</td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td>Esta funcion permite registrar nuevos datos en la tabla archivos de la base de datos</td>
                </tr>
                <tr>
                    <td>Verbo HTTP</td>
                    <td>POST</td>
                </tr>
                <tr>
                    <td>Header</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td>Administrador,encargados</td>
                </tr>
                <tr>
                    <td>Peticion Body</td>
                    <td>
                        {<br>
                            "nombre":"procesos misionales",<br>
                            "fecha_carga":"2024-04-03",<br>
                            "estado":1,<br>
                            "fk_id_usuarios":1,<br>
                            "fk_id_formatos":1,<br>
                            "descripcion":"documento de procesos misionales",<br>
                            "formato":"pdf"<br>
                        }<br>
                    </td>
                </tr>
                <tr>
                    <td>Respuesta Json</td>
                    <td>Correcto: status:200.json({	"message":"Se registró con éxito el archivo"}) <br><br>
                        Incorrecto: status(404).json({"message":"No se registró el archivo."}) <br><br>
                        Error: status(500).json({"message":"error "+e.message})
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <br>

      <!--   <div class="table-container">
        <table>
            <thead>
                <td>Nombre</td>
                <td>Descripcion</td>
            </thead>
            <tbody>
                <tr>
                    <td>eliminacion de documento</td>
                    <td> 
                    <p>
                        este apartado es para  eliminar, los datos de la tabla archivos 
                    </p>
                    </td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>http://localhost:3000/archivos/listar</td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td>Esta funcion permite listar datos en la tabla archivos de la base de datos</td>
                </tr>
                <tr>
                    <td>Verbo HTTP</td>
                    <td>GET</td>
                </tr>
                <tr>
                    <td>Header</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td>Administrador</td>
                </tr>
                <tr>
                    <td>Peticion Body</td>
                    <td>null
                    </td>
                </tr>
                <tr>
                    <td>Respuesta Json</td>
                    <td>Correcto: status:200.json[<br>
                        {<br>
                            "id_documentos": 2, <br>
                            "nombre": "tostion documento", <br>
                            "fecha_carga": "2024-03-12T05:00:00.000Z", <br>
                            "estado": 1, <br>
                            "fk_id_usuarios": 1, <br>
                            "fk_id_formatos": 1, <br>
                            "descripcion": "documento informativo de tostion" <br>
                        } <br>
                    ] <br>
                        Incorrecto: status(404).json({"message" : "No se encontraron archivos en la base de datos"}) <br><br>
                        Error: status(500).json({"message" : "Error en el controlador ArchivoController.js " + err})
                    </td>
                </tr>
            </tbody>
        </table>
        </div> -->

        <br>
        
        <div class="table-container">
        <table>
            <thead>
                <td>Nombre</td>
                <td>Descripcion</td>
            </thead>
            <tbody>
                <tr>
                    <td>eliminar documento</td>
                    <td> 
                    <p>
                        este apartado se para  eliminar,  los datos de la tabla archivos 
                    </p>
                    </td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>http://localhost:3000/archivo/eliminar/:id_documentos</td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td>Esta funcion permite eliminar datos por el id  de la tabla archivos de la base de datos</td>
                </tr>
                <tr>
                    <td>Verbo HTTP</td>
                    <td>DELETE</td>
                </tr>
                <tr>
                    <td>Header</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td>Administrador,encargados</td>
                </tr>
                <tr>
                    <td>Peticion Body</td>
                    <td>null
                    </td>
                </tr>
                <tr>
                    <td>Respuesta Json</td>
                    <td>Correcto: status:200.json({	"message":"Se eliminó con éxito el archivo."}) <br><br>
                        Incorrecto: status(404).json({"message":"No se eliminó el archivo."}) <br><br>
                        Error: status(500).json({"message":"error "+e.message})
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <br>

    <!--     <div class="table-container">
        <table>
            <thead>
                <td>Nombre</td>
                <td>Descripcion</td>
            </thead>
            <tbody>
                <tr>
                    <td>tabla archivos 01</td>
                    <td> 
                    <p>
                        este apartado es para registrar listar, eliminar, actualizar los datos de la tabla archivos
                    </p>
                    </td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>http://localhost:3000/archivo/actualizar/:id_documentos</td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td>Esta funcion permite actualizar datos por el id  de la tabla archivos de la base de datos</td>
                </tr>
                <tr>
                    <td>Verbo HTTP</td>
                    <td>PUT</td>
                </tr>
                <tr>
                    <td>Header</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td>Administrador,encargados</td>
                </tr>
                <tr>
                    <td>Peticion Body</td>
                    <td>
                        { <br>
                            "id_documentos": 3, <br>
                            "nombre": "tostión documento", <br>
                            "fecha_carga": "2024-10-27", <br>
                            "estado": 1, <br>
                            "fk_id_usuarios": 1, <br>
                            "fk_id_formatos": 1, <br>
                            "descripcion": "documento informativo de tostión" <br>
                        } <br>
                    </td>
                </tr>
                <tr>
                    <td>Respuesta Json</td>
                    <td>Correcto: status:200.json({
                        message":"message":"Se actualizó con éxito el archivo."}) <br><br>
                        Incorrecto: status(404).json({"message":"No se actualizó el archivo."}) <br><br>
                        Error: status(500).json({"message":"error "+e.message })
                    </td>
                </tr>
            </tbody>
        </table>
        </div> -->

       
        <br>
      
          <h1 class="titulo">Generar Estadistica</h1>
          <div class="table-container">
              <table>
                  <thead>
                      <td>Nombre</td>
                      <td>Descripcion</td>
                  </thead>
                  <tbody>
                      <tr>
                          <td>generar Estadistica</td>
                          <td> 
                          <p>
                              este apartado es para traer valores de la base de datos con el fin de generar graficos 
                          </p>
                          </td>
                      </tr>
                      <tr>
                          <td>URL</td>
                          <td>http://localhost:3000/estadistica/td>
                      </tr>
                      <tr>
                          <td>Descripcion</td>
                          <td>Este apartado estará en los diferentes módulos del sistema como los servicios permitirá ver una estadística en tiempo real donde se muestre:<br>
                            •	Mes donde mas se alquilo el laboratorio <br>
                            •	fincas  que mas se les hace proceso y cuales son esos procesos <br>
                                       Esta estadística estaría reflejada en un diagrama de barras en cada uno de los diferentes módulos 
                            </td>
                      </tr>
                      <tr>
                          <td>Verbo HTTP</td>
                          <td>get</td>
                      </tr>
                      <tr>
                          <td>Header</td>
                          <td>null</td>
                      </tr>
                      <tr>
                          <td>Usuario</td>
                          <td>Administrador,encargados</td>
                      </tr>
                      <tr>
                          <td>Peticion Body</td>
                          <td>null
                          </td>
                      </tr>
                      <tr>
                          <td>Respuesta Json</td>
                          <td>Correcto:   res.status(200).json( {
                            "cantidad": 33.33,<br>
                            "fecha_muestra": "2024-04-08T05:00:00.000Z",<br>
                            "nombre_finca": "el dorado",<br>
                            "tipo_servicios": "tostion"<br>
                          },<br>
                          {<br>
                            "cantidad": 44.55,<br>
                            "fecha_muestra": "2024-04-10T05:00:00.000Z",<br>
                            "nombre_finca": "el tigre",<br>
                            "tipo_servicios": "trilla"<br>
                          },<br>
                          {<br>
                            "cantidad": 20.366,<br>
                            "fecha_muestra": "2024-04-05T05:00:00.000Z",<br>
                            "nombre_finca": "consejo",<br>
                            "tipo_servicios": "analisis fisico"<br>
                          },<br>
                          {<br>
                            "cantidad": 20.366,<br>
                            "fecha_muestra": "2024-04-05T05:00:00.000Z",<br>
                            "nombre_finca": "consejo",<br>
                            "tipo_servicios": "analisis sensorial"<br>
                          }); <br><br>
                              Incorrecto:  res.status(404).json({ message: "No se encontraron datos" }); <br><br>
                              Error:  res.status(500).json({ message: "Error en la conexion"+error.message });
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>

              <br>

              <div class="table-container">
              <table>
                  <thead>
                      <td>Nombre</td>
                      <td>Descripcion</td>
                  </thead>
                  <tbody>
                      <tr>
                          <td>tabla finca 01</td>
                          <td> 
                          <p>
                              este apartado es para registrar listar, eliminar, actualizar los datos de la tabla finca 
                          </p>
                          </td>
                      </tr>
                      <tr>
                          <td>URL</td>
                          <td>http://localhost:3000/finca/listar</td>
                      </tr>
                      <tr>
                          <td>Descripcion</td>
                          <td>Esta funcion permite listar  datos  en la tabla finca de la base de datos</td>
                      </tr>
                      <tr>
                          <td>Verbo HTTP</td>
                          <td>GET</td>
                      </tr>
                      <tr>
                          <td>Header</td>
                          <td>null</td>
                      </tr>
                      <tr>
                          <td>Usuario</td>
                          <td>Administrador,encargados</td>
                      </tr>
                      <tr>
                          <td>Peticion Body</td>
                          <td>null
                          </td>
                      </tr>
                      <tr>
                          <td>Respuesta Json</td>
                          <td>Correcto: status:200.json[<br>
                              {<br>
                                  "id_finca": 1, <br>
                                  "nombre_finca": "Finca El Paraíso", <br>
                                  "fk_id_municipio": 1, <br>
                                  "fk_id_usuario": 1 <br>
                              }, <br>
                              { <br>
                                  "id_finca": 2, <br>
                                  "nombre_finca": "Nombre de la finca", <br>
                                  "fk_id_municipio": 1, <br>
                                  "fk_id_usuario": 1 <br>
                              } <br>
                          ] <br>
                              Incorrecto: status(404).json({"message" : "No se encontraron fincas en la base de datos"}) <br><br>
                              Error: status(500).json({"message" : "Error en el controlador FincaController.js "})
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>

              <br>
              
              <div class="table-container">
              <table>
                  <thead>
                      <td>Nombre</td>
                      <td>Descripcion</td>
                  </thead>
                  <tbody>
                      <tr>
                          <td>tabla finca 01</td>
                          <td> 
                          <p>
                              este apartado se para registrar, listar, eliminar, actualizar los datos de la tabla finca 
                          </p>
                          </td>
                      </tr>
                      <tr>
                          <td>URL</td>
                          <td>http://localhost:3000/finca/eliminar/:id_finca</td>
                      </tr>
                      <tr>
                          <td>Descripcion</td>
                          <td>Esta funcion permite eliminar datos por el id  de la tabla finca de la base de datos</td>
                      </tr>
                      <tr>
                          <td>Verbo HTTP</td>
                          <td>DELETE</td>
                      </tr>
                      <tr>
                          <td>Header</td>
                          <td>null</td>
                      </tr>
                      <tr>
                          <td>Usuario</td>
                          <td>Administrador,encargados</td>
                      </tr>
                      <tr>
                          <td>Peticion Body</td>
                          <td>null
                          </td>
                      </tr>
                      <tr>
                          <td>Respuesta Json</td>
                          <td>Correcto: status:200.json({	"message":"Se eliminó con éxito la finca"}) <br><br>
                              Incorrecto: status(404).json({"message":"No se eliminó la finca."}) <br><br>
                              Error: status(500).json({"message":"error "+e.message})
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>

              <br>

              <div class="table-container">
              <table>
                  <thead>
                      <td>Nombre</td>
                      <td>Descripcion</td>
                  </thead>
                  <tbody>
                      <tr>
                          <td>tabla finca 01</td>
                          <td> 
                          <p>
                              este apartado es para registrar listar, eliminar, actualizar los datos de la tabla finca 
                          </p>
                          </td>
                      </tr>
                      <tr>
                          <td>URL</td>
                          <td>http://localhost:3000/muestra/actualizar/:id_finca</td>
                      </tr>
                      <tr>
                          <td>Descripcion</td>
                          <td>Esta funcion permite actualizar datos por el id  de la tabla finca de la base de datos</td>
                      </tr>
                      <tr>
                          <td>Verbo HTTP</td>
                          <td>PUT</td>
                      </tr>
                      <tr>
                          <td>Header</td>
                          <td>null</td>
                      </tr>
                      <tr>
                          <td>Usuario</td>
                          <td>Administrador,encargados</td>
                      </tr>
                      <tr>
                          <td>Peticion Body</td>
                          <td>{ <br>
                              "nombre_finca": "Villa SanJose",<br>
                              "fk_id_municipio": 1, <br>
                              "fk_id_usuario": 1 <br>
                          } <br>
                          </td>
                      </tr>
                      <tr>
                          <td>Respuesta Json</td>
                          <td>Correcto: status:200.json({
                              message":"Se actualizó con éxito la finca"}) <br><br>
                              Incorrecto: status(404).json({"message": "No se actualizó la finca."}) <br><br>
                              Error: status(500).json({"message": "error " + e.message })
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>


              <br>
                <!-- crud formato Daniel -->
                <h1 class="titulo">Formato</h1>
                <div class="table-container">
                    <table>
                        <thead>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>tabla formato 01</td>
                                <td> 
                                <p>
                                    este apartado es para registrar, listar, eliminar y actualizar los datos de la tabla formato
                                </p>
                                </td>
                            </tr>
                            <tr>
                                <td>URL</td>
                                <td>http://localhost:3000/formato/registrar</td>
                            </tr>
                            <tr>
                                <td>Descripcion</td>
                                <td>Esta funcion permite registrar nuevos datos en la tabla formato de la base de datos</td>
                            </tr>
                            <tr>
                                <td>Verbo HTTP</td>
                                <td>POST</td>
                            </tr>
                            <tr>
                                <td>Header</td>
                                <td>null</td>
                            </tr>
                            <tr>
                                <td>Usuario</td>
                                <td>Administrador,encargados</td>
                            </tr>
                            <tr>
                                <td>Peticion Body</td>
                                <td>
                                    {<br>
                                        "version": "segunda", <br>
                                        "editable": 1, <br>
                                        "fk_id_tipo_formato": 1, <br>
                                        "fk_id_usuarios": 1 <br>
                                    } <br>
                                </td>
                            </tr>
                            <tr>
                                <td>Respuesta Json</td>
                                <td>Correcto: status:200.json({	 "message": "Se registró con éxito el formato"}) <br><br>
                                    Incorrecto: status(404).json({"message": "No se registró ningún formato." }) <br><br>
                                    Error: status(500).json({"message":"error "+e.message})
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                    <br>

                    <div class="table-container">
                    <table>
                        <thead>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>tabla formato 01</td>
                                <td> 
                                <p>
                                    este apartado es para registrar listar, eliminar, actualizar los datos de la tabla formato 
                                </p>
                                </td>
                            </tr>
                            <tr>
                                <td>URL</td>
                                <td>http://localhost:3000/formato/listar</td>
                            </tr>
                            <tr>
                                <td>Descripcion</td>
                                <td>Esta funcion permite listar datos en la tabla formato de la base de datos</td>
                            </tr>
                            <tr>
                                <td>Verbo HTTP</td>
                                <td>GET</td>
                            </tr>
                            <tr>
                                <td>Header</td>
                                <td>null</td>
                            </tr>
                            <tr>
                                <td>Usuario</td>
                                <td>Administrador,encargados</td>
                            </tr>
                            <tr>
                                <td>Peticion Body</td>
                                <td>null
                                </td>
                            </tr>
                            <tr>
                                <td>Respuesta Json</td>
                                <td>Correcto: status:200.json[<br>
                                    [ <br>
                                    { <br>
                                        "id_formato": 1, <br>
                                        "version": "primera", <br>
                                        "editable": 1, <br>
                                        "fk_id_tipo_formato": 1, <br>
                                        "fk_id_usuarios": 1 <br>
                                    }, <br>
                                    { <br>
                                        "id_formato": 2, <br>
                                        "version": "segunda", <br>
                                        "editable": 1, <br>
                                        "fk_id_tipo_formato": 1, <br>
                                        "fk_id_usuarios": 1 <br>
                                    } <br>
                                ] <br>
                                    Incorrecto: status(404).json({"message" : "No se encontraron formatos en la base de datos"}) <br><br>
                                    Error: status(500).json({"message" : "Error en el controlador FormatoController.js " + err})
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                    <br>
                    
                    <div class="table-container">
                    <table>
                        <thead>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>tabla formato 01</td>
                                <td> 
                                <p>
                                    este apartado se para registrar, listar, eliminar, actualizar los datos de la tabla formato 
                                </p>
                                </td>
                            </tr>
                            <tr>
                                <td>URL</td>
                                <td>http://localhost:3000/formato/eliminar/:id_formato</td>
                            </tr>
                            <tr>
                                <td>Descripcion</td>
                                <td>Esta funcion permite eliminar datos por el id  de la tabla formato de la base de datos</td>
                            </tr>
                            <tr>
                                <td>Verbo HTTP</td>
                                <td>DELETE</td>
                            </tr>
                            <tr>
                                <td>Header</td>
                                <td>null</td>
                            </tr>
                            <tr>
                                <td>Usuario</td>
                                <td>Administrador,encargados</td>
                            </tr>
                            <tr>
                                <td>Peticion Body</td>
                                <td>null
                                </td>
                            </tr>
                            <tr>
                                <td>Respuesta Json</td>
                                <td>Correcto: status:200.json({	"message":"Se eliminó con éxito el formato."}) <br><br>
                                    Incorrecto: status(404).json({"message":"No se eliminó el formato."}) <br><br>
                                    Error: status(500).json({"message":"error "+e.message})
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                    <br>

                    <div class="table-container">
                    <table>
                        <thead>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>tabla formato 01</td>
                                <td> 
                                <p>
                                    este apartado es para registrar listar, eliminar, actualizar los datos de la tabla formato
                                </p>
                                </td>
                            </tr>
                            <tr>
                                <td>URL</td>
                                <td>http://localhost:3000/formato/actualizar/:id_formato</td>
                            </tr>
                            <tr>
                                <td>Descripcion</td>
                                <td>Esta funcion permite actualizar datos por el id  de la tabla formato de la base de datos</td>
                            </tr>
                            <tr>
                                <td>Verbo HTTP</td>
                                <td>PUT</td>
                            </tr>
                            <tr>
                                <td>Header</td>
                                <td>null</td>
                            </tr>
                            <tr>
                                <td>Usuario</td>
                                <td>Administrador,encargados</td>
                            </tr>
                            <tr>
                                <td>Peticion Body</td>
                                <td>
                                    { <br>
                                        "version": "tercera", <br>
                                        "editable": 1, <br>
                                        "fk_id_tipo_formato": 1, <br>
                                        "fk_id_usuarios": 1 <br>
                                    } <br>
                                </td>
                            </tr>
                            <tr>
                                <td>Respuesta Json</td>
                                <td>Correcto: status:200.json({
                                    message":"message":"Se actualizó con éxito el formato."}) <br><br>
                                    Incorrecto: status(404).json({"message":"No se actualizó el formato."}) <br><br>
                                    Error: status(500).json({"message":"error "+e.message })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                <br>
                <!-- crud municipio Luisa -->
                <h1 class="titulo">Municipio</h1>
                <div class="table-container">
                <table>
                    <thead>
                        <td>Nombre</td>
                        <td>Descripcion</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>tabla municipio 01</td>
                            <td> 
                            <p>
                                Este apartado es para listar, registrar, actualizar, eliminar y listarID los datos de la tabla municipio
                            </p>
                            </td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td>http://localhost:3000/municipio/listar</td>
                        </tr>
                        <tr>
                            <td>Descripcion</td>
                            <td>Esta funcion permite listar datos en la tabla municipio de la base de datos</td>
                        </tr>
                        <tr>
                            <td>Verbo HTTP</td>
                            <td>GET</td>
                        </tr>
                        <tr>
                            <td>Header</td>
                            <td>null</td>
                        </tr>
                        <tr>
                            <td>Usuario</td>
                            <td>Administrador,encargados</td>
                        </tr>
                        <tr>
                            <td>Peticion Body</td>
                            <td>Null</td>
                        </tr>
                        <tr>
                            <td>Respuesta Json</td>
                          <td>Correcto: status:200.json[<br>
                              {<br>
                                  "id_municipio": 1, <br>
                                  "nombre_municipio": "Pitalito", <br>
                              }, <br>
                              { <br>
                                "id_municipio": 2, <br>
                                "nombre_municipio": "Timaná", <br>
                            }, <br>
                          ] <br>
                              Incorrecto: status(404).json({"menssage":"no se pudo listar correctamente"}) <br><br>
                              Error: status(500).json({"menssage":"error en la conexion"+error.menssage})
                          </td>
                        </tr>
                    </tbody>
                </table>
                </div>

                <br>

                <div class="table-container">
                <table>
                    <thead>
                        <td>Nombre</td>
                        <td>Descripcion</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>tabla municipio 01</td>
                            <td> 
                            <p>
                                Este apartado es para listar, registrar, actualizar, eliminar y listarID los datos de la tabla municipio
                            </p>
                            </td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td>http://localhost:3000/municipio/registrar</td>
                        </tr>
                        <tr>
                            <td>Descripcion</td>
                            <td>Esta funcion permite registrar nuevos datos en la tabla municipio de la base de datos</td>
                        </tr>
                        <tr>
                            <td>Verbo HTTP</td>
                            <td>POST</td>
                        </tr>
                        <tr>
                            <td>Header</td>
                            <td>null</td>
                        </tr>
                        <tr>
                            <td>Usuario</td>
                            <td>Administrador,encargados</td>
                        </tr>
                        <tr>
                            <td>Peticion Body</td>
                            <td>
                            {<br>
                                "nombre_municipio": "Pitalito" <br>
                            } <br>
                        </td>
                        </tr>
                        <tr>
                            <td>Respuesta Json</td>
                            <td>Correcto: status:200.json({
                                message":"menssage":"el usuario se registro correctamente"}) <br><br>
                                Incorrecto: status(404).json({"message":"el usuario no se registro"}) <br><br>
                                Error: status(500).json({"message":"error al conectar la base de datos"})
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>

                <br>

                <div class="table-container">
                <table>
                    <thead>
                        <td>Nombre</td>
                        <td>Descripcion</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>tabla municipio 01</td>
                            <td> 
                            <p>
                                Este apartado es para listar, registrar, actualizar, eliminar y listarID los datos de la tabla municipio
                            </p>
                            </td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td>http://localhost:3000/municipio/actualizar/:id</td>
                        </tr>
                        <tr>
                            <td>Descripcion</td>
                            <td>Esta funcion permite actualizar datos en la tabla municipio de la base de datos</td>
                        </tr>
                        <tr>
                            <td>Verbo HTTP</td>
                            <td>PUT</td>
                        </tr>
                        <tr>
                            <td>Header</td>
                            <td>null</td>
                        </tr>
                        <tr>
                            <td>Usuario</td>
                            <td>Administrador,encargados</td>
                        </tr>
                        <tr>
                            <td>Peticion Body</td>
                            <td>
                            {<br>
                                "id_municipio": 1, <br>
                                "nombre_municipio": "Pitalito" <br>
                            } <br>
                        </td>
                        </tr>
                        <tr>
                            <td>Respuesta Json</td>
                            <td>Correcto: status:200.json({
                                "message":"se actualizo con exito el usuario"}) <br><br>
                                Incorrecto: status(404).json({"message":"no se actualizo el usuario"})
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>

                <br>

                <div class="table-container">
                <table>
                    <thead>
                        <td>Nombre</td>
                        <td>Descripcion</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>tabla municipio 01</td>
                            <td> 
                            <p>
                                Este apartado es para listar, registrar, actualizar, eliminar y listarID los datos de la tabla municipio
                            </p>
                            </td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td>http://localhost:3000/municipio/eliminar/:id</td>
                        </tr>
                        <tr>
                            <td>Descripcion</td>
                            <td>Esta funcion permite eliminar datos en la tabla municipio de la base de datos</td>
                        </tr>
                        <tr>
                            <td>Verbo HTTP</td>
                            <td>DELETE</td>
                        </tr>
                        <tr>
                            <td>Header</td>
                            <td>null</td>
                        </tr>
                        <tr>
                            <td>Usuario</td>
                            <td>Administrador,encargados</td>
                        </tr>
                        <tr>
                            <td>Peticion Body</td>
                            <td>Null</td>
                        </tr>
                        <tr>
                            <td>Respuesta Json</td>
                            <td>Correcto: status:200.json({"message":"usuario eliminado correctamente"}) <br><br>
                                Incorrecto: status(404).json({"message":"usuario no eliminado correctamente"})
                                Error: status(500).json({"message":"error en la conexion"+error.menssage})
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>

                <br>

                <div class="table-container">
                <table>
                    <thead>
                        <td>Nombre</td>
                        <td>Descripcion</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>tabla municipio 01</td>
                            <td> 
                            <p>
                                Este apartado es para listar, registrar, actualizar, eliminar y listarID los datos de la tabla municipio
                            </p>
                            </td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td>http://localhost:3000/municipio/listarid/:id</td>
                        </tr>
                        <tr>
                            <td>Descripcion</td>
                            <td>Esta funcion permite listar datos por el id de la tabla municipio de la base de datos</td>
                        </tr>
                        <tr>
                            <td>Verbo HTTP</td>
                            <td>GET</td>
                        </tr>
                        <tr>
                            <td>Header</td>
                            <td>null</td>
                        </tr>
                        <tr>
                            <td>Usuario</td>
                            <td>Administrador,encargados</td>
                        </tr>
                        <tr>
                            <td>Peticion Body</td>
                            <td>Null</td>
                        </tr>
                        <tr>
                            <td>Respuesta Json</td>
                            <td>Correcto: status:200.json[<br>
                                {<br>
                                    "id_municipio": 1, <br>
                                    "nombre_municipio": "Pitalito", <br>
                                }, <br>
                                Incorrecto: status(404).json({"message":"usuario no encontrado"})<br><br>
                                Error: status(500).json({"menssage":"error en la conexion en la base de datos "+error.menssage})
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
    </section> 
</div>
</body>
</html>