<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>documentacion Api</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- 
archivos =daniel
datos  = victor
detalle = jonathan 
finca= daniel
formato =daniel
muestra = Miguel
municipio= luisa
servicios= juan
tipo_formato =juan
usuarios = jhontan
 -->
    <h1 class="principal">Documentación de la api</h1>
    <div class="container">
      <!-- requerimineto iniciar sesion Miguel -->
      <section>
        <h1 class="titulo">requerimiento iniciar sesion</h1>
        <div class="table-container">
        <table>
            <thead>
                <td>Nombre</td>
                <td>Descripcion</td>
            </thead>
            <tbody>
                <tr>
                    <td>Iniciar Sesion</td>
                    <td> 
                    <p>
                        	El sistema debe proporcionar un formulario de inicio de sesión en la interfaz de usuario.<br>
                        	Los usuarios deben poder ingresar su <br>
                        	°Numero de identificación <br>
                        	Los usuarios deben ingresar una contraseña válida para iniciar sesión <br>
                            El sistema debe verificar las credenciales ingresadas y permitir el acceso solo si son válidas. <br>
                        
                        	Si las credenciales no son inválidas, el sistema debe mostrar un mensaje de error usuario no autorizado <br>
                        	Los usuarios deben poder restablecer su contraseña si la olvidan.<br>
                        Mediante un código que se enviara al correo electrónico 
                    </p>
                    </td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>http://localhost:3000/login</td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td>Esta funcion permite la validar las credenciales del usuario en la base de datos </td>
                </tr>
                <tr>
                    <td>Verbo HTTP</td>
                    <td>POST</td>
                </tr>
                <tr>
                    <td>Header</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td>Administrador,encargados,invitado</td>
                </tr>
                <tr>
                    <td>Peticion Body</td>
                    <td>json: {
                        "numero_identificacion":"1006459235",
                        "contraseña_usuario":"miguel123"
                    }
                    </td>
                </tr>
                <tr>
                    <td>Respuesta Json</td>
                    <td>Correcto: status:200.json({
                        "nombre_usuario": "Miguel",
                        "rol_usuario": "administrador"
                    }) <br><br>
                        Incorrecto: status(404).json({ "menssage": "Usuario no autorizado" }) <br><br>
                        Error: status(500).json("Error en el servidor"+error.message)
                    </td>
                </tr>
            </tbody>
        </table>
         </div>

        <br>

 

  <br>

    <h1 class="titulo">requerimiento cargar y eliminar  documento</h1>
    <div class="table-container">
        <table>
            <thead>
                <td>Nombre</td>
                <td>Descripcion</td>
            </thead>
            <tbody>
                <tr>
                    <td>carga de documentos</td>
                    <td> 
                    <p>
                        	La función de carga de documentos estará ubicada en la parte superior derecha del módulo gestión documental del sistema.<br>
                             Al seleccionarla, se desplegará una ventana emergente con dos opciones: cargar un nuevo documento o actualizar uno existente.<br>
                        	Para cargar un nuevo documento, se deberá completar un formulario con los siguientes campos:<br>
                        •	Nombre del documento<br>
                        •	Versión del documento<br>
                        •	Fecha de carga<br>
                        •	Estado <br>
                        •	Formato (PDF, Excel, Word)<br>
                        •	Nombre y rol del usuario que realiza la acción<br>
                        •	nombre del usuario en caso de ser el encargado<br>
                        	Al seleccionar la opción de actualizar un documento, se mostrará un formulario donde se deberá ingresar el nombre y la versión del documento a actualizar.<br>
                             Posteriormente, se habilitará un botón de subir que permitirá reemplazar el documento.<br>
                    	    Una vez el documento este actualizado, el documento anterior cambiara de estado y pasara a inactivo <br>
                        	El botón de eliminación estará situado en la parte derecha de cada documento y estará disponible únicamente para el rol de administración.<br>
                        	 En caso de que la solicitud de carga sea realizada por el rol de encargado, será enviada a revisión al rol de administrador y será validado por los roles que encuentren en el momento,<br>
                              se requiere la aprobación de todos los administradores y solo se cargarán los documentos si cuentan con las aprobaciones.<br>
                        	El rol de invitado no tendría acceso a ninguna de estas acciones 
                        
                    </p>
                    </td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>http://localhost:3000/archivo/registrar</td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td>Esta funcion permite registrar nuevos datos en la tabla archivos de la base de datos</td>
                </tr>
                <tr>
                    <td>Verbo HTTP</td>
                    <td>POST</td>
                </tr>
                <tr>
                    <td>Header</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td>Administrador,encargados</td>
                </tr>
                <tr>
                    <td>Peticion Body</td>
                    <td>
                        {<br>
                            "nombre":"procesos misionales",<br>
                            "fecha_carga":"2024-04-03",<br>
                            "estado":1,<br>
                            "fk_id_usuarios":1,<br>
                            "fk_id_formatos":1,<br>
                            "descripcion":"documento de procesos misionales",<br>
                            "formato":"pdf"<br>
                        }<br>
                    </td>
                </tr>
                <tr>
                    <td>Respuesta Json</td>
                    <td>Correcto: status:200.json({	"message":"Se registró con éxito el archivo"}) <br><br>
                        Incorrecto: status(404).json({"message":"No se registró el archivo."}) <br><br>
                        Error: status(500).json({"message":"error "+e.message})
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <br>

   
       

        <br>
        
        <div class="table-container">
        <table>
            <thead>
                <td>Nombre</td>
                <td>Descripcion</td>
            </thead>
            <tbody>
                <tr>
                    <td>eliminar documento</td>
                    <td> 
                    <p>
                        este apartado se para  eliminar,  los datos de la tabla archivos 
                    </p>
                    </td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>http://localhost:3000/archivo/eliminar/:id_documentos</td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td>Esta funcion permite eliminar datos por el id  de la tabla archivos de la base de datos</td>
                </tr>
                <tr>
                    <td>Verbo HTTP</td>
                    <td>DELETE</td>
                </tr>
                <tr>
                    <td>Header</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td>Administrador,encargados</td>
                </tr>
                <tr>
                    <td>Peticion Body</td>
                    <td>null
                    </td>
                </tr>
                <tr>
                    <td>Respuesta Json</td>
                    <td>Correcto: status:200.json({	"message":"Se eliminó con éxito el archivo."}) <br><br>
                        Incorrecto: status(404).json({"message":"No se eliminó el archivo."}) <br><br>
                        Error: status(500).json({"message":"error "+e.message})
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <br>


       
        <br>
      
          <h1 class="titulo">Generar Estadistica</h1>
          <div class="table-container">
              <table>
                  <thead>
                      <td>Nombre</td>
                      <td>Descripcion</td>
                  </thead>
                  <tbody>
                      <tr>
                          <td>generar Estadistica</td>
                          <td> 
                          <p>
                              este apartado es para traer valores de la base de datos con el fin de generar graficos 
                          </p>
                          </td>
                      </tr>
                      <tr>
                          <td>URL</td>
                          <td>http://localhost:3000/estadistica/td>
                      </tr>
                      <tr>
                          <td>Descripcion</td>
                          <td>Este apartado estará en los diferentes módulos del sistema como los servicios permitirá ver una estadística en tiempo real donde se muestre:<br>
                            •	Mes donde mas se alquilo el laboratorio <br>
                            •	fincas  que mas se les hace proceso y cuales son esos procesos <br>
                                       Esta estadística estaría reflejada en un diagrama de barras en cada uno de los diferentes módulos 
                            </td>
                      </tr>
                      <tr>
                          <td>Verbo HTTP</td>
                          <td>get</td>
                      </tr>
                      <tr>
                          <td>Header</td>
                          <td>null</td>
                      </tr>
                      <tr>
                          <td>Usuario</td>
                          <td>Administrador,encargados</td>
                      </tr>
                      <tr>
                          <td>Peticion Body</td>
                          <td>null
                          </td>
                      </tr>
                      <tr>
                          <td>Respuesta Json</td>
                          <td>Correcto:   res.status(200).json( {
                            "cantidad": 33.33,<br>
                            "fecha_muestra": "2024-04-08T05:00:00.000Z",<br>
                            "nombre_finca": "el dorado",<br>
                            "tipo_servicios": "tostion"<br>
                          },<br>
                          {<br>
                            "cantidad": 44.55,<br>
                            "fecha_muestra": "2024-04-10T05:00:00.000Z",<br>
                            "nombre_finca": "el tigre",<br>
                            "tipo_servicios": "trilla"<br>
                          },<br>
                          {<br>
                            "cantidad": 20.366,<br>
                            "fecha_muestra": "2024-04-05T05:00:00.000Z",<br>
                            "nombre_finca": "consejo",<br>
                            "tipo_servicios": "analisis fisico"<br>
                          },<br>
                          {<br>
                            "cantidad": 20.366,<br>
                            "fecha_muestra": "2024-04-05T05:00:00.000Z",<br>
                            "nombre_finca": "consejo",<br>
                            "tipo_servicios": "analisis sensorial"<br>
                          }); <br><br>
                              Incorrecto:  res.status(404).json({ message: "No se encontraron datos" }); <br><br>
                              Error:  res.status(500).json({ message: "Error en la conexion"+error.message });
                          </td>
                      </tr>
                  </tbody>
              </table>
              <br>
<!-- CRUD DE VICTOR 2-->
              <h1 class="titulo">Almacenar Documentos Según Versiones</h1>
              <table>
                <thead>
                   <td>Nombre</td>
                   <td>Descripcion</td>
               </thead>
               <tbody>
                   <tr>
                       <td> Almacenar Documentos Según Versiones</td>
                       <td> 
                       <p>
                           Los modulos porporcionan un sistema en donde se encuentren formatos bien especificados a llenar como:  Nonmbre dl documento, usuario, fecha, resultado y potros datos llenos por defecto. Además de esto trae información y ciertas funciones aplicadas solo para un rol (administrador ) como; numero de documentos, versión reciente o antigua y actualizar documentos entre otras.  Todos los roles tienen acceso a los modulos excepto en un modulo, un rol no tendrá acceso; que es rol de invitado.                </p>
                       </td>
                   </tr>
                   <tr>
                       <td>URL-POST</td>
                       <td>http://localhost:3000/documentos</td>
                   </tr>
                   <tr>
                       <td>URL-PATCH</td>
                       <td>http://localhost:3000/documentos/:id_documentos</td>
                   </tr>
                   <tr>
                       <td>Descripcion</td>
                       <td>Esta función permite gestionar documentos de manera estructurada y versionada dentro de un sistema.</td>
                   </tr>
                   <tr>
                       <td>Verbo HTTP</td>
                       <td>POST/PATCH</td>
                   </tr>
               
                   <tr>
                       <td>Header</td>
                       <td>null</td>
                   </tr>
                   <tr>
                       <td>Usuario</td>
                       <td>Administrador,encargados e invitados</td>
                   </tr>
                   <tr>
                       <td>Peticion Body POST</td>
                       <td>{
                           "nombre_documento": "Trilla_nueva",
                           "usuario": "victor2211",
                           "fecha": "2024-04-13",
                           "resultado": "Exitoso",
                       }
                       </td>
                   </tr>
                   <tr>
                       <td>Peticion Body PATCH</td>
                       <td>{
                           "resultado": "Exitoso, modificado"
                           "fecha": "2024-04-15",
                       }
                       
                       </td>
                   </tr>
                   <tr>
                       <td>Respuesta Json</td>
                       <td>{
                           "status": "200",
                           "message": "La operación se ha completado correctamente.",
                           "documento": {
                           "id": "123456789",
                           "nombre_documento": "Documento2",
                           "usuario": "victor2211",
                           "fecha": "2024-04-15",
                           "resultado": "Exitoso",
                           }
                       }
                       <br><br>
                           Incorrecto: status(404).json({"{
                               "message": "Hubo un problema al procesar la solicitud. Por favor, inténtalo de nuevo."
                           }
                           "}) <br><br>
                           Error: status(500).json({"message":"error "+e.message})
                       </td>
                   </tr>
               </tbody>
            </table>
   
           <br>
           <h1 class="titulo">Descarga de documentos</h1>
           <table>
               <thead>
                   <td>Nombre</td>
                   <td>Descripcion</td>
               </thead>
               <tbody>
                   <tr>
                       <td>Descarga de documentos</td>
                       <td> 
                       <p>
                           La función de descarga estara disponible para todos los roles del sistema y se mostrara en todos los módulos al lado de cada documento. Esto significa que todos los usuarios tendrán la capacidad de descargar documentos según les  sea necesario.
                           el sistema no podra convertir un documento de un formato a otro en ningún moment, por lo tanto los documentos estarán disponibles para su descarga en el formato original en el que fueron cargados.
   
                       </td>
                   </tr>
                   <tr>
                       <td>URL</td>
                       <td> http://localhost:3000/descarga/{id del documento}</td>
                   </tr>
                   <tr>
                       <td>Descripcion</td>
                       <td>Facilita a los usuarios la descarga directa de documentos almacenados en el sistema, manteniendo su formato original.</td>
                   </tr>
                   <tr>
                       <td>Verbo HTTP</td>
                       <td>GET</td>
                   </tr>
               
                   <tr>
                       <td>Header</td>
                       <td>null</td>
                   </tr>
                   <tr>
                       <td>Usuario</td>
                       <td>Administrador,encargados e invitados</td>
                   </tr>
                   <tr>
                       <td>Peticion Body POST</td>
                       <td>NUll
                       </td>
                   </tr>
   
                   <tr>
                       <td>Respuesta Json</td>
                       <td>{
                           "Correcto": { "status": 200, "message": "La descarga del documento se ha completado correctamente." }
                       }
                       
                       <br><br>
                           Incorrecto: status(404).json({"{"message": "No se ha podido completar la descarga del documento. Por favor, inténtalo de nuevo" }
                           "}) <br><br>
                           Error: status(500).json({"message":"error "+e.message})
                       </td>
                   </tr>
               </tbody>
            </table>
   
         
            <h1 class="titulo">Desplegar Menu De Opciones</h1>
           <table>
               <thead>
                   <td>Nombre</td>
                   <td>Descripcion</td>
               </thead>
               <tbody>
                   <tr>
                       <td>Desplegar Menu De Opciones</td>
                       <td> 
                       <p>
                          El sistema debe proporcionar en la parte superior izquierda de la interfaz del sistema un menú tipo hamburguesa que contendrá diversas opciones:
   
                           Alertas: Una casilla visible para todos los roles, mostrando actualizaciones recientes y solicitudes de aprobación pendientes.
                           Solicitud de Aprobación: Disponible solo para el rol de administrador para validar y aprobar solicitudes. La aprobación se carga al sistema si es aprobada por todos los administradores.
                           Administrar Usuarios: Exclusiva para los administradores, permitiendo la creación de cuentas, asignación de roles, definición de permisos, actualización de información y restablecimiento de contraseñas.
                           Ayuda: Disponible para todos los roles, proporcionando información según la búsqueda y el rol del usuario.
                           Inicio: Redirecciona a la vista principal para todos los roles.
                           Alquiler de Laboratorio: Redirige al módulo de alquiler de laboratorio, donde se muestra la disponibilidad y se puede agendar el laboratorio para su aprobación por un administrador.
                           Generar Estadísticas: Redirige al módulo de estadísticas, ofreciendo opciones para visualizar estadísticas.
                           Cerrar Sesión: Disponible para todos los roles, permitiendo salir del sistema.                    </p>
                       </td>
                   </tr>
                   <tr>
                       <td>URL</td>
                       <td>null</td>
                   </tr>
                   <tr>
                       <td>Descripcion</td>
                       <td>El menú desplegable ofrece acceso rápido a opciones como alertas, gestión de usuarios, estadísticas y más, adaptadas a los roles de cada usuario</td>
                   </tr>
                   <tr>
                       <td>Verbo HTTP</td>
                       <td>GET</td>
                   </tr>
                   <tr>
                       <td>Header</td>
                       <td>null</td>
                   </tr>
                   <tr>
                       <td>Usuario</td>
                       <td>Administrador,encargados, e invitados</td>
                   </tr>
                   <tr>
                       <td>Peticion Body</td>
                       <td>null
                       </td>
                   </tr>
                   <tr>
                       <td>Respuesta Json</td>
                       <td>Correcto: {"status": 200, "message": "El menú se ha desplegado correctamente."}<br><br>
                           "Incorrecto": {"status": 400, "message": "No se ha podido desplegar el menú. Por favor, inténtalo de nuevo."}<br><br>
                            Error: status(500).json({"message":"error "+e.message})
                       </td>
                   </tr>
               </tbody>
           </table>
              </div>
              <br>
              
    </section> 
</div>
</body>
</html>

