<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>documentacion Api</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Documentacio de la api</h1>
    
    <h2>iniciar sesion </h2>
    <table>
        <thead>
            <td>Nombre</td>
            <td>Descripcion</td>
        </thead>
        <tbody>
            <tr>
                <td>RF 01</td>
                <td> <p>
                    El sistema debe proporcionar un formulario de inicio de sesión en la interfaz de usuario.<br>
                  
                    •	 Numero de identificación <br>
                    •	 contraseña  <br> 
                      
                   	El sistema debe verificar las credenciales ingresadas y permitir el acceso solo si son válidas
                    Si las credenciales no son inválidas, el sistema debe mostrar un mensaje de error usuario no encontrado 
                    Los usuarios deben poder restablecer su contraseña si la olvidan.
                    Mediante un código que se enviara al correo electrónico 
                </p>
                    </td>
            </tr>
            <tr>
                <td>nombre del EndPint</td>
                <td>iniciar sesion</td>
            </tr>
            <tr>
                <td>URL</td>
                <td>localhost:3000/user/registrar</td>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td>Esta funcion permite registrar un nuevo usuario en la tabla usuarios de la base de datos</td>
            </tr>
            <tr>
                <td>Verbo HTTP</td>
                <td>POST</td>
            </tr>
            <tr>
                <td>Header</td>
                <td>null</td>
            </tr>
            <tr>
                <td>Usuario</td>
                <td>Administrador,encargados,invitado</td>
            </tr>
            <tr>
                <td>Peticion Body</td>
                <td>json: {
                    "idusuario":6,
                    "nombres":"juan carlos",
                    "direccion":"cyy66gt57ee",
                    "telefono":"36744334",
                    "correo":"juanca@gmail.com",
                    "rol":"usuario",
                    "password":"sdfgfdgsred"
                    }
                </td>
            </tr>
            <tr>
                <td>Respuesta Json</td>
                <td>Correcto: status:200.json({"message":"se registro con exito el usuario"}) <br><br>
                    Incorrecto: status(404).json({"message":"no se registro el usuario"}) <br><br>
                    Error: status(500).json({"message":"error al conectar con la base de datos"+error.message})
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>